.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	gap: 50px;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}
