.container {
	position: fixed;
	left: 0;
	width: 616px;
	height: 100%;
	overflow: scroll;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 207px;
}
